/* html styles */
html{
    background: #CF9570;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1em;
    font-family: Borel;
}
p, figcaption {
    font-family: Rubik;
}
figcaption {
    font-size: .88em;
}

/* header */
/* sets the header image width to 100% of the screen*/
header img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/* changes the navigation button colors */
header{
    margin: 0;
    padding: 0;
    background-color: #8c441c;
}
/* Navigation */

#horizontal ul{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    overflow: hidden;
}

#horizontal a{
    background-color: #8c441c;
    color: #eddac0;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: center;
    font-size: 2em;
    border-left: .06em solid #352F2A;
    border-right: .06em solid #352F2A;
    font-family: Rubik;
}
#horizontal li{
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
}

/* Trogloxene styles */
#Xenes {
    background-color: #c4aca4ff;
    width: 100%;
    padding: 20px;
    height: 100vh;
}
/* sets the position and text styles of the first sections text */
#text1 {
    font-size: 1.5em;
    line-height: 2;
    width: 637px;
    position: absolute;
    left: 33.3%;
    top: 30%;
    text-align: center;
    display: inline-block;
    background-color: #ad968eff;
    padding: 71.5px;
    color: #352F2A;
}
/* sets the position and size */
#oilbird {
    position: absolute;
    left: 50px;
    top: 320px;
    width: 500px;
    text-align: center;
        img {
        width: 500px;
    }
}
/* sets the position and size */
#bear {
    position: absolute;
    left: 50px;
    top: 800px;
    text-align: center;
        img {
        width: 500px;
    }
}
/* sets the position and size */
#mander {
    position: absolute;
    left: 1350px;
    top: 320px;
    width: 470px;
        img {
        width: 470px;
    }
}
/* sets the position and size */
#bat {
    position: absolute;
    left: 1350px;
    top: 740px;
    width: 470px;
    text-align: center;
        img {
        width: 400px;
        height: auto;
    }
}
/* Troglophiles styles */
#Philes {
    background-color: rgb(102, 80, 70);
    width: 100%;
    padding: 20px;
    height: 104.5vh;
    color: #DBCBB4;
}
/* sets the position and text styles of the second sections text */
#text2 {
    font-size: 1.5em;
    line-height: 2;
    width: 637px;
    position: absolute;
    left: -5px;
    top: 130.2%;
    text-align: center;
    display: inline-block;
    background-color: rgb(92, 72, 62);
    padding: 115px;
    color: #DBCBB4;
    
}
/* sets the position and size */
#racer {
    position: absolute;
    left: 720px;
    top: 1220px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* sets the position and size */
#spider {
    position: absolute;
    left: 1350px;
    top: 1220px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* sets the position and size */
#scorpion {
    position: absolute;
    left: 1350px;
    top: 1670px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* sets the position and size */
#pede {
    position: absolute;
    left: 720px;
    top: 1670px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* Troglobite styles */
#Bites {
    background-color: #4a3c30ff;
    width: 100%;
    padding: 20px;
    height: 137vh;
    color: #DBCBB4;
}
/* sets the position and text styles of the third sections text */
#text3 {
    font-size: 1.5em;
    line-height: 2;
    width: 637px;
    position: absolute;
    left: 33.3%;
    top: 234.5%;
    text-align: center;
    display: inline-block;
    background-color: rgb(39, 33, 28);
    padding: 144px;
    color: #DBCBB4;
}
/* sets the position and size */
#shrimp {
    position: absolute;
    top: 2150px;
    left: 100px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* sets the position and size */
#crab {
    position: absolute;
    left: 100px;
    top: 2510px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* sets the position and size */
#fish {
    position: absolute;
    left: 100px;
    top: 2950px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#velvet{
    position: absolute;
    top: 2300px;
    left: 1350px;
    width: 500px;
    text-align: center;
        img {
        width: 500px;
    }
}
/* sets the position and size */
#olm {
    position: absolute;
    left: 1350px;
    top: 2850px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}

/* Footer Styles */

/* sets footer color*/
footer {
    background-color: rgb(39, 33, 28);
    display: block;
    height: 4em;
    padding: 1.25em;
    clear: both;
    height: auto;
    flex: 0 0 50px;
    margin-top: auto;

}

/* sets text color for footer */
footer a{
    text-decoration: none;
    color: rgb(219, 173, 135);
    font-family: Rubik;
}
/* changes the color when text is hovered over */
footer a:hover {
    text-decoration: underline;
    color: rgba(255, 124, 2, 0.801);
}
/* sets the main footer text color and size */
footer h1 {
    color: #f5e6d1;
    font-size: 2.2em;
    position: sticky;
    line-height: 1em;
    margin-bottom: .35em;

}
/* sets the font color and font for the footer */
footer p{
    color: rgb(219, 173, 135);
    display: inline;
    font-family: Rubik;
}