html{
    background: #CF9570;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Borel;
}
p {
    font-family: Rubik;
}

/* header */
header img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    background-color: #8C441C;
}
/* Navigation */
.horizontal ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.horizontal a{
    background-color: #8C441C;
    color: #EDDAC0;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.horizontal li{
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
}
/* Trogloxene styles */
#Xenes {
    background-color: #c4aca4ff;
    width: 100%;
    padding: 20px;
    height: 100vh;
}
#text1 {
    font-size: 1.5em;
    line-height: 2;
    width: 637px;
    position: absolute;
    left: 33.3%;
    top: 26.2%;
    text-align: center;
    display: inline-block;
    background-color: #ad968eff;
    padding: 71.5px;
    color: #352F2A;
}
#oilbird {
    position: absolute;
    left: 50px;
    top: 300px;
    width: 500px;
    text-align: center;
        img {
        width: 500px;
    }
}
#bear {
    position: absolute;
    left: 50px;
    top: 780px;
    text-align: center;
        img {
        width: 500px;
        filter: opacity(50%);
    }
}
#mander {
    position: absolute;
    left: 1350px;
    top: 280px;
    width: 470px;
        img {
        width: 470px;
    }
}
#bat {
    position: absolute;
    left: 1350px;
    top: 720px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* Troglophiles styles */
#Philes {
    background-color: rgb(102, 80, 70);
    width: 100%;
    padding: 20px;
    height: 104.5vh;
}
#text2 {
    font-size: 1.5em;
    line-height: 2;
    width: 637px;
    position: absolute;
    left: -5px;
    top: 126.5%;
    text-align: center;
    display: inline-block;
    background-color: rgb(92, 72, 62);
    padding: 115px;
    color: #DBCBB4;
}
#racer {
    position: absolute;
    left: 720px;
    top: 1180px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#spider {
    position: absolute;
    left: 1350px;
    top: 1180px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#scorpion {
    position: absolute;
    left: 1350px;
    top: 1680px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#pede {
    position: absolute;
    left: 720px;
    top: 1630px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* Troglobite styles */
#Bites {
    background-color: #4a3c30ff;
    width: 100%;
    padding: 20px;
    height: 137vh;
}
#text3 {
    font-size: 1.5em;
    line-height: 2;
    width: 637px;
    position: absolute;
    left: 33.3%;
    top: 2103px;
    text-align: center;
    display: inline-block;
    background-color: rgb(39, 33, 28);
    padding: 144px;
    color: #DBCBB4;
}
#shrimp {
    position: absolute;
    top: 2150px;
    left: 100px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#crab {
    position: absolute;
    left: 100px;
    top: 2550px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#fish {
    position: absolute;
    left: 100px;
    top: 2950px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
#velvet{
    position: absolute;
    top: 2300px;
    left: 1350px;
    width: 500px;
    text-align: center;
        img {
        width: 500px;
    }
}
#olm {
    position: absolute;
    left: 1350px;
    top: 2850px;
    width: 470px;
    text-align: center;
        img {
        width: 470px;
    }
}
/* Footer */


footer {
    background-color: rgb(39, 33, 28);
    display: block;
    height: 4em;
    padding: 1.25em;
    clear: both;
    height: auto;
    flex: 0 0 50px;
  margin-top: auto;
}

footer a{
    text-decoration: none;
    color: rgb(219, 173, 135);
    font-family: Rubik;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(255, 124, 2, 0.801);
}
footer h1 {
    color: #f5e6d1;
    font-size: 2.2em;
    position: sticky;
    line-height: 1em;
    margin-bottom: .35em;
    font-family: Borel;
}
footer p{
    color: rgb(219, 173, 135);
    display: inline;
}