@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Html */
html{
    background: #cf9570;
    margin: 0;
    padding: 0;
}
html, body {
  height: 100%;
}
h1 {
    font-family: Borel;
}

p {
    font-family: Rubik;
}

/* Sections */
section{
    display: inline-block;
    margin: .3%;
    
}
#secOne{
    float: left;
    width: 33%;
    position: relative;
}
#secTwo{
    font-size: 2em;
    line-height: 1.5em;
    margin: auto;
    width: 33%;
    background-color: #be7f58;
    position: absolute;
    height: 110%;
    padding: 2em;
    text-align: center;
}
#secThree{
    float: right;
    
}
/* header */
header img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    background-color: #8c441c;
}
/* Navigation */

.horizontal ul{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    overflow: hidden;
}

.horizontal a{
    background-color: #8c441c;
    color: #eddac0;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: center;
    font-size: 2em;
    border-left: .06em solid black;
    border-right: .06em solid black;
}
.horizontal li{
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
}
/* Figure*/
figure{
    margin: 1.5em;
}
 figure img{
 clear: both;
}

figure img{
    width: 31.25em;
    height: auto;
}


figcaption{
    border: 1px solid black;
    background-color: #cf713d;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 5px;
    font-size: 20px;
    width: 500px;
}
/* images */

/* Footer */

footer {
    background-color: rgb(39, 33, 28);
    display: block;
    height: 4em;
    padding: 1.25em;
    clear: both;
    height: auto;
}

footer a{
    text-decoration: none;
    color: rgb(219, 173, 135);
}

footer a:hover {
    text-decoration: underline;
    color: rgba(255, 124, 2, 0.801);
}
footer h1 {
    color: #f5e6d1;
    font-size: 2.2em;
    position: sticky;
    line-height: 1em;
}
footer p{
    color: rgb(219, 173, 135);
    display: inline;
}