
/* Html */
html{
    background: #cf9570;
    margin: 0;
    padding: 0;
}
html, body {
  height: 100%;
}
h1 {
    font-family: Borel;
}

p {
    font-family: Rubik;
}

/* Sections */
section{
    display: inline-block;
    margin: .3%;
    
}
#secOneGeo{
    float: left;
    width: 33%;
    position: relative;
}
#secTwoGeo{
    font-size: 1.8em;
    line-height: 1.5em;
    margin: auto;
    width: 33%;
    background-color: #be7f58;
    position: absolute;
    height: 112%;
    padding: 2em;
    text-align: center;
    color: #000000
}
#secThreeGeo{
    float: right;
    
}
/* header */
/* sets the header image width to 100% of the screen*/
header img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/* changes the navigation button colors */
header{
    margin: 0;
    padding: 0;
    background-color: #8c441c;
}
/* Navigation */

#horizontal ul{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    overflow: hidden;
}
#horizontal a{
    background-color: #8c441c;
    color: #eddac0;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: center;
    font-size: 2em;
    border-left: .06em solid #352F2A;
    border-right: .06em solid #352F2A;
    font-family: Rubik;
}
#horizontal li{
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
}

/* Figure*/
figure{
    margin: 1.5em;
}
 figure img{
 clear: both;
}

figure img{
    width: 31.25em;
    height: auto;
}

/* sets the border color and background color, alongside setting its size */
figcaption{
    border: 1px solid #352F2A;
    background-color: #cf713d;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 5px;
    font-size: 20px;
    width: 500px;
    font-family: Rubik;
}
/* sets footer color*/
footer {
    background-color: rgb(39, 33, 28);
    display: block;
    height: 4em;
    padding: 1.25em;
    clear: both;
    height: auto;
    flex: 0 0 50px;
    margin-top: auto;

}

/* sets text color for footer */
footer a{
    text-decoration: none;
    color: rgb(219, 173, 135);
    font-family: Rubik;
}
/* changes the color when text is hovered over */
footer a:hover {
    text-decoration: underline;
    color: rgba(255, 124, 2, 0.801);
}
/* sets the main footer text color and size */
footer h1 {
    color: #f5e6d1;
    font-size: 2.2em;
    position: sticky;
    line-height: 1em;
    margin-bottom: .35em;

}
/* sets the font color and font for the footer */
footer p{
    color: rgb(219, 173, 135);
    display: inline;
    font-family: Rubik;
}