
html{
    background: #cf9570;
}
/* Body */
    body{
        display:flex;
        flex-direction:column
    }
/* Text */
 h1 {
    font-family: Borel;
}

p {
    font-family: Rubik;
}

/* header */
header img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    background-color: #8c441c;
}
/* Navigation */

.horizontal ul{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
    overflow: hidden;
}

.horizontal a{
    background-color: #8c441c;
    color: #eddac0;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: center;
    font-size: 2em;
    border-left: .06em solid black;
    border-right: .06em solid black;
    font-family: Rubik;
}
.horizontal li{
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
}

/* Sections */
section{
    display: inline-block;
    margin: .3%;
    
}
#secOne{
    float: left;
    width: 33%;
    position: relative;
}
#secTwo{
    
    font-size: 1.5em;
    line-height: 1.5em;
    margin: auto;
    width: 33%;
    background-color: rgb(191, 128, 90);
    position: absolute;
    padding: 2em;
    text-align: center;
    height: 64.7%;
    float: left;

}
#secThree{
    float: right;
    
}
 section img{
 clear: both;
 margin: 1em;
}

/* Text Styles */
h1 {
    color: #f5e6d1;
    font-size: 2.2em;
    position: sticky;
}

p {
    font-size: larger;
    font-family: Rubik;
}

figcaption {
    font-size: small;
    font-family: Rubik;
}

/* Media Styles */

img{
 clear: both;
}

img#cave {
    display: block;
    float: left;

}
video{
    max-width: 96%;
    float: right;
}
/* Figure*/
figure img{
    width: 31.25em;
    height: auto;
}


figcaption{
    margin: auto;
    padding: 5px;
    font-size: 20px;
    width: 500px;
    clear: both;
    text-align: center;
    
}
/* Form Styles */

form#caveSurvey {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   font-family: Rubik;
}

form#caveSurvey > fieldset {
    background-color: rgb(191, 128, 90);
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    font-size: 1.2em;
    border: #8c441c;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

legend {
    color: #eddac0;
    background-color: #8c441c;
    border-radius: 4px;
}
label{
    line-height: 2em;
   
}

/* Footer Styles */

footer {
    background-color: rgb(39, 33, 28);
    display: block;
    height: 4em;
    padding: 1.25em;
    clear: both;
    height: auto;
    flex: 0 0 50px;
  margin-top: auto;
}

footer a{
    text-decoration: none;
    color: rgb(219, 173, 135);
    font-family: Rubik;
}

footer a:hover {
    text-decoration: underline;
    color: rgba(255, 124, 2, 0.801);
}
footer h1 {
    color: #f5e6d1;
    font-size: 2.2em;
    position: sticky;
    line-height: 1em;
    margin-bottom: .35em;

}
footer p{
    color: rgb(219, 173, 135);
    display: inline;
    font-family: Rubik;
}